/* importing Go Wild font */
@font-face {
  font-family: "Go Wild";
  src: url(./assets/go_wild.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Go Wild", sans-serif;
}

:root {
  color: white;
  background-color: black;
  font-size: 14px;
}

:root::before, 
:root::after {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  content: "";
  width: 100%;
  height: 100vh;
  background: url(./assets/background.webp) center center / cover no-repeat; 
  opacity: 0.2;
  animation: rotateHue 10s ease-in-out infinite;
}

:root::after {
  animation: rotateHue 17s ease-in-out infinite;
}

@keyframes rotateHue {
  0% {
    filter: hue-rotate(-5deg) brightness(1) contrast(1) blur(2px);
    transform: scale(1);
  }
  50% {
    filter: hue-rotate(5deg) brightness(1.5) contrast(1.2) blur(2px);
    transform: scale(1.03);
  }
  100% {
    filter: hue-rotate(-5deg) brightness(1) contrast(1) blur(2px);
    transform: scale(1);
  }
}

:root, body, .root {
  width: 100%;
  min-height: 100vh;
}
